langchain
langchain-core
langchain-community
langchain-google-genai
chromadb
pypdf
unstructured
pillow
streamlit
python-dotenv
jupyter
openpyxl
python-docx
python-pptx
sentence-transformers
langchain-huggingface
